body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.details {
  display: flex;

}

.charts {
  display: flex;
  flex-direction: column;
}

/* .chart-display {
  display: flex;
  flex-direction: row;
} */

.select-cur {
  margin-right: 10px;
  margin-left: 10px;
}

.chart-div {
  display: none;
}

.header--second {
  display: flex;
}

.header-price {
  width: 60%;
  margin-left: 10px;
  justify-content: flex-end;
}